<%= form_for(@user,{:role=>"form"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </br>
    <select class="selectpicker" >
	    <option>Mustard</option>
	    <option>Ketchup</option>
	    <option>Relish</option>
    </select> 

  </div> -->

	<div class="row">
		<div class="col-md-8">
		  <div class="form-group">
		    <%= f.label 'Nome Completo' %> <br />
		    <%= f.text_field :name, :class=>"form-control", :placeholder=>"Nome Completo" %> 
		  </div>
	    </div>
	    
		<div class="col-md-4">
		  <div class="form-group">
		    <%= f.label :name_tag %><br /> <!-- Nome no Crachá -->
		    <%= f.text_field :name_tag, :class=>"form-control", :placeholder=>"Como vc quer ser chamado(a)" %>
		  </div>
		</div>	    
	</div>  

	<div class="row">
		<div class="col-md-8">
		  <div class="form-group">
		    <%= f.label :address %><br />
		    <%= f.text_field :address, :class=>"form-control", :placeholder=>"Endereço" %>
		  </div>
		 </div>
		 <div class="col-md-4">
		  <div class="form-group">
		    <%= f.label :neighborhood %><br />
		    <%= f.text_field :neighborhood, :class=>"form-control", :placeholder=>"Bairro" %>
		  </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-5">
		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.text_field :email, :class=>"form-control", :placeholder=>"E-mail" %>
		  </div>  
		</div>
		<div class="col-md-3">
		  <div class="form-group">
		    <%= f.label :birthdate %> <br />
		    <%= f.text_field :birthdate, :type=>"date", :class=>"form-control datepicker", :placeholder=>"dd/mm/aaaa" %>
		
		  </div>
		</div>		
		<div class="col-md-2">
		  <div class="form-group">
		    <%= f.label :phone_number %><br />
		    <%= f.text_field :phone_number, :class=>"form-control", :placeholder=>"Telefone" %>
		  </div>  
		</div>
		<div class="col-md-2">
		  <div class="form-group">
		    <%= f.label :cell_phone %><br />
		    <%= f.text_field :cell_phone, :class=>"form-control", :placeholder=>"Celular" %>
		  </div>
		</div>		
	</div>	
	
	<div class="row">
		  <div class="col-md-5">
		  	<div class="form-group">		  
  		      <%= f.label :instrument_id %> <br/>
		      <%= f.select(:instrument_id, Instrument.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :class => "form-control") %>
		    </div>
		  </div>  
	      <div class="col-md-4">	
	      	<div class="form-group">	  
		      <%= f.label :shirt_type_id %><br/>
		      <%= f.select(:shirt_type_id, ShirtType.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :class => "form-control") %>
		    </div>  
		  </div>
		  <div class="col-md-3">
		  	<div class="form-group">
		      <%= f.label :shirt_size_id %> <br/>
		      <%= f.select(:shirt_size_id, ShirtSize.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, :class => "form-control") %>
		    </div>
		  </div>
   	</div>  
<script type="text/javascript">
  $(document).ready(function() {
   $('.datepicker').datepicker({
   	  format:"dd/mm/yyyy",
   	  language: "pt-BR",
   	  autoclose: true,
   	  todayHighlight: true
   })
     .on('changeDate', function(ev){
     	$('.datepicker').datepicker('hide');
     });	
  });  
  //$('.selectpicker').selectpicker();
  // $('select').selectpicker({
   //     autoclose: true,
    //    show: true
   //});
  //$('#shirt_type_code').selectpicker();
  //$('#shirt_size_code').selectpicker();


</script>

	<p>
	  <a class="btn btn-lg btn-primary" href="#" role="button" onclick="document.getElementById('new_user').submit(); return false">Salvar</a>
	</p>

<!--  <div class="actions">
    <%= f.submit %>
</div> 

$("#shirt_type_id").change(function() {
      getShirtSizeByType("id="+$("#shirt_type_id").val());
    });
      var options = '<option value="">Selecione o Tamanho</option>';
      $.each(j.siz, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
    $("#shirt_type_id").change(function() {
      getShirtSizeByType("id="+$("#shirt_type_id").val());
    });
    
    

  function getShirtSizeByType(id) {
    $.getJSON("/size_by_type", id, function(j) {
      var options = '<option value="">Selecione o Tamanho</option>';
      $.each(j.siz, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#user_shirt_size_id").html(options);
    });
  }

-->
<% end %>
