<div class="panel panel-primary">
  <div class="panel panel-heading"><h2>Integrantes</h2></div>  
	
	<table class="table table-striped table-condensed">
	  <tr>
	    <th>Nome Completo</th>
	    <th>Nome no Crachá</th>
	    <th>E-mail</th>
	    <th>Instrumento</th>
	    <th>Tipo de Camisa</th>
	    <th>Tamanho da Camisa</th>
	  </tr>
	
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.name %></td>
	    <td><%= user.name_tag %></td>
	    <td><%= user.email %></td>
	    <td><%= user.instrument.name %></td>
	    <td><%= user.shirt_type.name %></td>
	    <td><%= user.shirt_size.name %></td>
	  </tr>
	<% end %>

</div>

</table>

<br />

<!--<%= link_to 'Gerar CSV', users_path(format: "csv") %>-->

<p>
  <a class="btn btn-lg btn-primary" href="/users.csv" role="button" >Gerar CSV</a>
</p>
