<div class="panel panel-success">
	<div class="panel-heading">
		<p id="notice"><%= notice %></p>	
	</div>	
	<p> </p>	
	<p>
	  <b>Nome:</b>
	  <%= @user.name %>
	</p>
	<p>
	  <b>Nome no Crachá:</b>
	  <%= @user.name_tag %>
	</p>
	<p>
	  <b>Endereço:</b>
	  <%= @user.address %>
	</p>
	<p>
	  <b>Bairro:</b>
	  <%= @user.neighborhood %>
	</p>
	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
	<p>
	  <b>Data de Nascimento:</b>
	  <%=  @user.birthdate == nil ? "" : I18n.l(@user.birthdate) %>
	  
	</p>
	<p>
	  <b>Telefone:</b>
	  <%= @user.phone_number %>
	</p>
	<p>
	  <b>Celular:</b>
	  <%= @user.cell_phone %>
	</p>
	<p>
	  <b>Unidade:</b>
	  <%= @user.branch.name %>
	</p>	
	<p>
	  <b>Instrumento:</b>
	  <%= @user.instrument.name %>
	</p>
	<p>
	  <b>Tipo de Camisa:</b>
	  <%= @user.shirt_type.name %>
	</p>
	<p>
	  <b>Tamanho:</b>
	  <%= @user.shirt_size.name %>
	</p>
	
	<!--
	<%= link_to 'Editar', edit_user_path(@user) %> |
	<%= link_to 'Voltar', users_path %>
	-->
</div>


