<h1>Cadastro de Integrantes do BA-QUE-TA! (TUM)</h1>



<h2>Informe aqui o tamanho de sua camisa e outros dados.</h2>

<!--<table>
  <tr>
    <th>Nome Completo</th>
    <th>Nome no Crachá</th>
    <th>E-mail</th>
    <th>Celular</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_user_path(user) %></td>
    <td><%= user.name_tag %></td>
    <td><%= user.email %></td>
    <td><%= user.cell_phone %></td>
    <td><%= link_to 'Mostrar', user %></td>
    <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>-->

<br />

<%= link_to 'Quero Me Cadastrar :D', new_user_path %>
